/**
 * avatar
 *
 * container image or text, need set width and height
 */

.avatar {
  composes: container from './image-container.css';
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}

.img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
