/**
 * avatar
 *
 * container image or text, need set width and height
 */

.avatar {
  composes: container from './image-container.css';
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: #cdcdcd;
  color: #fff;
  overflow: hidden;
}

.img {
  width: 100%;
  height: auto;
}
